{% extends "base.html" %}

{% block content %}
<head>
	<title>Draw a polyline given many coordinates</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="{{url_for('static', filename='map3.js')}}"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	<link rel="stylesheet" type="text/css" href="static/main.css"/> 
</head>
<body>
<div id='main'>
    <div id='left'>
    	{% if current_user.routes.all()|length > 0 %}
    		<h4>Routes</h4>
    		{% for route in current_user.routes %}
    			<p><a href="#" class="route_name">{{ route.name }}</a></p>
    		{% endfor %}
    	{% else %}
		<h5>You have no routes</h5>				
		{% endif %}
    </div>
    <div id='right'>
    	<div id="map_canvas"></div>
    </div>
</div>
	
</body>
{% endblock %}