{% extends "base.html" %}

{% block content %}
<head>
<title>Draw a polyline given many coordinates</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
html { height: 100% }
body { height: 100% }
#map_canvas { height: 90% }
</style>
<link rel="stylesheet" type="text/css" href="static/main.css"/> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>

<script>
    function initialize() {
        var homeLatlng = new google.maps.LatLng(51.476706,0);
        var myOptions = {
            zoom: 15,
            center: homeLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);


        // create an array of coordinates
        var arrCoords = [
            new google.maps.LatLng(53.358647,-1.485686),
            new google.maps.LatLng(53.358719,-1.485568),
            new google.maps.LatLng(53.358685,-1.485704),
            new google.maps.LatLng(53.358683,-1.485885),
            new google.maps.LatLng(53.35869,-1.486052),
            new google.maps.LatLng(53.358701,-1.4862),
            new google.maps.LatLng(53.358689,-1.486342),
            new google.maps.LatLng(53.358695,-1.486496),
            new google.maps.LatLng(53.358662,-1.486621),
            new google.maps.LatLng(53.358676,-1.486781),
            new google.maps.LatLng(53.358714,-1.486915),
            new google.maps.LatLng(53.358786,-1.487138),
            new google.maps.LatLng(53.358824,-1.487303),
            new google.maps.LatLng(53.358833,-1.487454),
            new google.maps.LatLng(53.358851,-1.487598),
            new google.maps.LatLng(53.358907,-1.487764),
            new google.maps.LatLng(53.358964,-1.48787),
            new google.maps.LatLng(53.359048,-1.487805),
            new google.maps.LatLng(53.359146,-1.487837),
            new google.maps.LatLng(53.35924,-1.487867),
            new google.maps.LatLng(53.359347,-1.487857),
            new google.maps.LatLng(53.359446,-1.487792),
            new google.maps.LatLng(53.359524,-1.487724),
            new google.maps.LatLng(53.359598,-1.487614),
            new google.maps.LatLng(53.359676,-1.487524),
            new google.maps.LatLng(53.359769,-1.48751),
            new google.maps.LatLng(53.359861,-1.487571),
            new google.maps.LatLng(53.359898,-1.487711),
            new google.maps.LatLng(53.359923,-1.487905),
            new google.maps.LatLng(53.359936,-1.488046),
            new google.maps.LatLng(53.359935,-1.488197),
            new google.maps.LatLng(53.359954,-1.488373),
            new google.maps.LatLng(53.359973,-1.488546),
            new google.maps.LatLng(53.359994,-1.488707),
            new google.maps.LatLng(53.360012,-1.488863),
            new google.maps.LatLng(53.360028,-1.489035),
            new google.maps.LatLng(53.360049,-1.489168),
            new google.maps.LatLng(53.360074,-1.489305),
            new google.maps.LatLng(53.360109,-1.489451),
            new google.maps.LatLng(53.360131,-1.489599),
            new google.maps.LatLng(53.360168,-1.48976),
            new google.maps.LatLng(53.360198,-1.489909),
            new google.maps.LatLng(53.36023,-1.490034),
            new google.maps.LatLng(53.36025,-1.490187),
            new google.maps.LatLng(53.360259,-1.49035),
            new google.maps.LatLng(53.360271,-1.490489),
            new google.maps.LatLng(53.360274,-1.490653),
            new google.maps.LatLng(53.36026,-1.490823),
            new google.maps.LatLng(53.360252,-1.490966),
            new google.maps.LatLng(53.360237,-1.491131),
            new google.maps.LatLng(53.360233,-1.491275),
            new google.maps.LatLng(53.360216,-1.49141),
            new google.maps.LatLng(53.360275,-1.491514),
            new google.maps.LatLng(53.360327,-1.491633),
            new google.maps.LatLng(53.360384,-1.491763),
            new google.maps.LatLng(53.360437,-1.491896),
            new google.maps.LatLng(53.3605,-1.492019),
            new google.maps.LatLng(53.36056,-1.492128),
            new google.maps.LatLng(53.360628,-1.492254),
            new google.maps.LatLng(53.360678,-1.492368),
            new google.maps.LatLng(53.360704,-1.492515),
            new google.maps.LatLng(53.360736,-1.492647),
            new google.maps.LatLng(53.36075,-1.492798),
            new google.maps.LatLng(53.360763,-1.492932),
            new google.maps.LatLng(53.360786,-1.493097),
            new google.maps.LatLng(53.360779,-1.493243),
            new google.maps.LatLng(53.360797,-1.493385),
            new google.maps.LatLng(53.360823,-1.493518),
            new google.maps.LatLng(53.360846,-1.493688),
            new google.maps.LatLng(53.360885,-1.493847),
            new google.maps.LatLng(53.360924,-1.494001),
            new google.maps.LatLng(53.360948,-1.494131),
            new google.maps.LatLng(53.360974,-1.494295),
            new google.maps.LatLng(53.360995,-1.494485),
            new google.maps.LatLng(53.361015,-1.494646),
            new google.maps.LatLng(53.361038,-1.494807),
            new google.maps.LatLng(53.361047,-1.494951),
            new google.maps.LatLng(53.361085,-1.495106),
            new google.maps.LatLng(53.361115,-1.495251),
            new google.maps.LatLng(53.36114,-1.495382),
            new google.maps.LatLng(53.361166,-1.495517),
            new google.maps.LatLng(53.361187,-1.49568),
            new google.maps.LatLng(53.361222,-1.495828),
            new google.maps.LatLng(53.361307,-1.49589),
            new google.maps.LatLng(53.361378,-1.495991),
            new google.maps.LatLng(53.361565,-1.496128),
            new google.maps.LatLng(53.361662,-1.496175),
            new google.maps.LatLng(53.361744,-1.496199),
            new google.maps.LatLng(53.361844,-1.496192),
            new google.maps.LatLng(53.361934,-1.496173),
            new google.maps.LatLng(53.362035,-1.496158),
            new google.maps.LatLng(53.36212,-1.496167),
            new google.maps.LatLng(53.362201,-1.496219),
            new google.maps.LatLng(53.362298,-1.49626),
            new google.maps.LatLng(53.362388,-1.496316),
            new google.maps.LatLng(53.362496,-1.496369),
            new google.maps.LatLng(53.362592,-1.496373),
            new google.maps.LatLng(53.362668,-1.496424),
            new google.maps.LatLng(53.362745,-1.496473),
            new google.maps.LatLng(53.36283,-1.496532),
            new google.maps.LatLng(53.362931,-1.496559),
            new google.maps.LatLng(53.363029,-1.496604),
            new google.maps.LatLng(53.363122,-1.496637),
            new google.maps.LatLng(53.363227,-1.496695),
            new google.maps.LatLng(53.363315,-1.496763),
            new google.maps.LatLng(53.363412,-1.496844),
            new google.maps.LatLng(53.363498,-1.496931),
            new google.maps.LatLng(53.363573,-1.497022),
            new google.maps.LatLng(53.36366,-1.497073),
            new google.maps.LatLng(53.36375,-1.497146),
            new google.maps.LatLng(53.363831,-1.497212),
            new google.maps.LatLng(53.36392,-1.497299),
            new google.maps.LatLng(53.364005,-1.497358),
            new google.maps.LatLng(53.364094,-1.497439),
            new google.maps.LatLng(53.364169,-1.497509),
            new google.maps.LatLng(53.364244,-1.497596),
            new google.maps.LatLng(53.364342,-1.497643),
            new google.maps.LatLng(53.364418,-1.497722),
            new google.maps.LatLng(53.364491,-1.497779),
            new google.maps.LatLng(53.364587,-1.497841),
            new google.maps.LatLng(53.364641,-1.497954),
            new google.maps.LatLng(53.364736,-1.498022),
            new google.maps.LatLng(53.364817,-1.498014),
            new google.maps.LatLng(53.364913,-1.498006),
            new google.maps.LatLng(53.365006,-1.498019),
            new google.maps.LatLng(53.365098,-1.49807),
            new google.maps.LatLng(53.365182,-1.498151),
            new google.maps.LatLng(53.365266,-1.498192),
            new google.maps.LatLng(53.365358,-1.498252),
            new google.maps.LatLng(53.365455,-1.498311),
            new google.maps.LatLng(53.365558,-1.498354),
            new google.maps.LatLng(53.365672,-1.498387),
            new google.maps.LatLng(53.365764,-1.498461),
            new google.maps.LatLng(53.365857,-1.498527),
            new google.maps.LatLng(53.365949,-1.498627),
            new google.maps.LatLng(53.366024,-1.498718),
            new google.maps.LatLng(53.366089,-1.498852),
            new google.maps.LatLng(53.366128,-1.498981),
            new google.maps.LatLng(53.366177,-1.49912),
            new google.maps.LatLng(53.366209,-1.499273),
            new google.maps.LatLng(53.36624,-1.499434),
            new google.maps.LatLng(53.366265,-1.499568),
            new google.maps.LatLng(53.366283,-1.499725),
            new google.maps.LatLng(53.366311,-1.499855),
            new google.maps.LatLng(53.366323,-1.500012),
            new google.maps.LatLng(53.366362,-1.50018),
            new google.maps.LatLng(53.3664,-1.500349),
            new google.maps.LatLng(53.366419,-1.500487),
            new google.maps.LatLng(53.366464,-1.500622),
            new google.maps.LatLng(53.366502,-1.500797),
            new google.maps.LatLng(53.366548,-1.500949),
            new google.maps.LatLng(53.366591,-1.501087),
            new google.maps.LatLng(53.366648,-1.501223),
            new google.maps.LatLng(53.366711,-1.501333),
            new google.maps.LatLng(53.366753,-1.501481),
            new google.maps.LatLng(53.366827,-1.50162),
            new google.maps.LatLng(53.366894,-1.501765),
            new google.maps.LatLng(53.366973,-1.501849),
            new google.maps.LatLng(53.367071,-1.501927),
            new google.maps.LatLng(53.36715,-1.502001),
            new google.maps.LatLng(53.367221,-1.502088),
            new google.maps.LatLng(53.367263,-1.502222),
            new google.maps.LatLng(53.367273,-1.502382),
            new google.maps.LatLng(53.367267,-1.502534),
            new google.maps.LatLng(53.367271,-1.5027),
            new google.maps.LatLng(53.367254,-1.502834),
            new google.maps.LatLng(53.367222,-1.502986),
            new google.maps.LatLng(53.367167,-1.503121),
            new google.maps.LatLng(53.367137,-1.503248),
            new google.maps.LatLng(53.367081,-1.50339),
            new google.maps.LatLng(53.367046,-1.503518),
            new google.maps.LatLng(53.367005,-1.503677),
            new google.maps.LatLng(53.366986,-1.503823),
            new google.maps.LatLng(53.36696,-1.503975),
            new google.maps.LatLng(53.366932,-1.50414),
            new google.maps.LatLng(53.36691,-1.504322),
            new google.maps.LatLng(53.366887,-1.504491),
            new google.maps.LatLng(53.366851,-1.504625),
            new google.maps.LatLng(53.36683,-1.504769),
            new google.maps.LatLng(53.366802,-1.504904),
            new google.maps.LatLng(53.366767,-1.505072),
            new google.maps.LatLng(53.366738,-1.505205),
            new google.maps.LatLng(53.366711,-1.505359),
            new google.maps.LatLng(53.366691,-1.505496),
            new google.maps.LatLng(53.366665,-1.505633),
            new google.maps.LatLng(53.366619,-1.505748),
            new google.maps.LatLng(53.36658,-1.505875),
            new google.maps.LatLng(53.366527,-1.506022),
            new google.maps.LatLng(53.366484,-1.506164),
            new google.maps.LatLng(53.366429,-1.506315),
            new google.maps.LatLng(53.366366,-1.50646),
            new google.maps.LatLng(53.366321,-1.506576),
            new google.maps.LatLng(53.366275,-1.506735),
            new google.maps.LatLng(53.366201,-1.506934),
            new google.maps.LatLng(53.366138,-1.507056),
            new google.maps.LatLng(53.366056,-1.507139),
            new google.maps.LatLng(53.365983,-1.507212),
            new google.maps.LatLng(53.365896,-1.507252),
            new google.maps.LatLng(53.36581,-1.507303),
            new google.maps.LatLng(53.365722,-1.507353),
            new google.maps.LatLng(53.365639,-1.507401),
            new google.maps.LatLng(53.365548,-1.507478),
            new google.maps.LatLng(53.365458,-1.507518),
            new google.maps.LatLng(53.365371,-1.50755),
            new google.maps.LatLng(53.36525,-1.507587),
            new google.maps.LatLng(53.365063,-1.5076),
            new google.maps.LatLng(53.36498,-1.50763),
            new google.maps.LatLng(53.364884,-1.507678),
            new google.maps.LatLng(53.364783,-1.507716),
            new google.maps.LatLng(53.364664,-1.507765),
            new google.maps.LatLng(53.364573,-1.50781),
            new google.maps.LatLng(53.364488,-1.507847),
            new google.maps.LatLng(53.364399,-1.507876),
            new google.maps.LatLng(53.364318,-1.50784),
            new google.maps.LatLng(53.364217,-1.507882),
            new google.maps.LatLng(53.364122,-1.507946),
            new google.maps.LatLng(53.364037,-1.507996),
            new google.maps.LatLng(53.363942,-1.508042),
            new google.maps.LatLng(53.363833,-1.508079),
            new google.maps.LatLng(53.363755,-1.508114),
            new google.maps.LatLng(53.36367,-1.508154),
            new google.maps.LatLng(53.363563,-1.508165),
            new google.maps.LatLng(53.363471,-1.50818),
            new google.maps.LatLng(53.36339,-1.508152),
            new google.maps.LatLng(53.363302,-1.508174),
            new google.maps.LatLng(53.363213,-1.508188),
            new google.maps.LatLng(53.363125,-1.508239),
            new google.maps.LatLng(53.363033,-1.508242),
            new google.maps.LatLng(53.362944,-1.5083),
            new google.maps.LatLng(53.362851,-1.508306),
            new google.maps.LatLng(53.362767,-1.508339),
            new google.maps.LatLng(53.362676,-1.508331),
            new google.maps.LatLng(53.362592,-1.508319),
            new google.maps.LatLng(53.362494,-1.508292),
            new google.maps.LatLng(53.362404,-1.508294),
            new google.maps.LatLng(53.3623,-1.508345),
            new google.maps.LatLng(53.362213,-1.508342),
            new google.maps.LatLng(53.362106,-1.50832),
            new google.maps.LatLng(53.362012,-1.508308),
            new google.maps.LatLng(53.361925,-1.50831),
            new google.maps.LatLng(53.3618,-1.508295),
            new google.maps.LatLng(53.361715,-1.508298),
            new google.maps.LatLng(53.361623,-1.508307),
            new google.maps.LatLng(53.36154,-1.508312),
            new google.maps.LatLng(53.361445,-1.508268),
            new google.maps.LatLng(53.361331,-1.508197),
            new google.maps.LatLng(53.361216,-1.508162),
            new google.maps.LatLng(53.361102,-1.508169),
            new google.maps.LatLng(53.361019,-1.508166),
            new google.maps.LatLng(53.36096,-1.508074),
            new google.maps.LatLng(53.360921,-1.507929),
            new google.maps.LatLng(53.360842,-1.507895),
            new google.maps.LatLng(53.360745,-1.507934),
            new google.maps.LatLng(53.360663,-1.507905),
            new google.maps.LatLng(53.360578,-1.507914),
            new google.maps.LatLng(53.360493,-1.507936),
            new google.maps.LatLng(53.360387,-1.507957),
            new google.maps.LatLng(53.360288,-1.50798),
            new google.maps.LatLng(53.360183,-1.508015),
            new google.maps.LatLng(53.360084,-1.508017),
            new google.maps.LatLng(53.360003,-1.507945),
            new google.maps.LatLng(53.359937,-1.507833),
            new google.maps.LatLng(53.359889,-1.507677),
            new google.maps.LatLng(53.359843,-1.507542),
            new google.maps.LatLng(53.3598,-1.507399),
            new google.maps.LatLng(53.359745,-1.50728),
            new google.maps.LatLng(53.359685,-1.507146),
            new google.maps.LatLng(53.359638,-1.507001),
            new google.maps.LatLng(53.359585,-1.506848),
            new google.maps.LatLng(53.359526,-1.506731),
            new google.maps.LatLng(53.359479,-1.506612),
            new google.maps.LatLng(53.359444,-1.506489),
            new google.maps.LatLng(53.359402,-1.506342),
            new google.maps.LatLng(53.359367,-1.506181),
            new google.maps.LatLng(53.359328,-1.506046),
            new google.maps.LatLng(53.359318,-1.505904),
            new google.maps.LatLng(53.359297,-1.505759),
            new google.maps.LatLng(53.359307,-1.505579),
            new google.maps.LatLng(53.359289,-1.505417),
            new google.maps.LatLng(53.359272,-1.505251),
            new google.maps.LatLng(53.359262,-1.505094),
            new google.maps.LatLng(53.359262,-1.504935),
            new google.maps.LatLng(53.359249,-1.504793),
            new google.maps.LatLng(53.359228,-1.504657),
            new google.maps.LatLng(53.3592,-1.504497),
            new google.maps.LatLng(53.359192,-1.504325),
            new google.maps.LatLng(53.359189,-1.504186),
            new google.maps.LatLng(53.359186,-1.50403),
            new google.maps.LatLng(53.359182,-1.503871),
            new google.maps.LatLng(53.359168,-1.50373),
            new google.maps.LatLng(53.359149,-1.503577),
            new google.maps.LatLng(53.35913,-1.503426),
            new google.maps.LatLng(53.359025,-1.50342),
            new google.maps.LatLng(53.358931,-1.503414),
            new google.maps.LatLng(53.358817,-1.50332),
            new google.maps.LatLng(53.358746,-1.503223),
            new google.maps.LatLng(53.358682,-1.503117),
            new google.maps.LatLng(53.358596,-1.503018),
            new google.maps.LatLng(53.358523,-1.502949),
            new google.maps.LatLng(53.358451,-1.502868),
            new google.maps.LatLng(53.358381,-1.502769),
            new google.maps.LatLng(53.358302,-1.502662),
            new google.maps.LatLng(53.358221,-1.502553),
            new google.maps.LatLng(53.358131,-1.502452),
            new google.maps.LatLng(53.358085,-1.502318),
            new google.maps.LatLng(53.358034,-1.502167),
            new google.maps.LatLng(53.357993,-1.502021),
            new google.maps.LatLng(53.357928,-1.501939),
            new google.maps.LatLng(53.357852,-1.501819),
            new google.maps.LatLng(53.357801,-1.501685),
            new google.maps.LatLng(53.357766,-1.50153),
            new google.maps.LatLng(53.357756,-1.501365),
            new google.maps.LatLng(53.357727,-1.50121),
            new google.maps.LatLng(53.357688,-1.501066),
            new google.maps.LatLng(53.357647,-1.500948),
            new google.maps.LatLng(53.357595,-1.500809),
            new google.maps.LatLng(53.357563,-1.500668),
            new google.maps.LatLng(53.357524,-1.500467),
            new google.maps.LatLng(53.357489,-1.500337),
            new google.maps.LatLng(53.357466,-1.500172),
            new google.maps.LatLng(53.357441,-1.500033),
            new google.maps.LatLng(53.357444,-1.499855),
            new google.maps.LatLng(53.357409,-1.499705),
            new google.maps.LatLng(53.357349,-1.499584),
            new google.maps.LatLng(53.357275,-1.499466),
            new google.maps.LatLng(53.357205,-1.499336),
            new google.maps.LatLng(53.357162,-1.499197),
            new google.maps.LatLng(53.357126,-1.499059),
            new google.maps.LatLng(53.357093,-1.498934),
            new google.maps.LatLng(53.357045,-1.498808),
            new google.maps.LatLng(53.356998,-1.498617),
            new google.maps.LatLng(53.356978,-1.498467),
            new google.maps.LatLng(53.356963,-1.498321),
            new google.maps.LatLng(53.356947,-1.498168),
            new google.maps.LatLng(53.356923,-1.498014),
            new google.maps.LatLng(53.356924,-1.497861),
            new google.maps.LatLng(53.356893,-1.497692),
            new google.maps.LatLng(53.35687,-1.497542),
            new google.maps.LatLng(53.356858,-1.497368),
            new google.maps.LatLng(53.356829,-1.497215),
            new google.maps.LatLng(53.356821,-1.497076),
            new google.maps.LatLng(53.356811,-1.496911),
            new google.maps.LatLng(53.356792,-1.496734),
            new google.maps.LatLng(53.356791,-1.496594),
            new google.maps.LatLng(53.356795,-1.496433),
            new google.maps.LatLng(53.356766,-1.496301),
            new google.maps.LatLng(53.356744,-1.496159),
            new google.maps.LatLng(53.356741,-1.495992),
            new google.maps.LatLng(53.356739,-1.495851),
            new google.maps.LatLng(53.356747,-1.4957),
            new google.maps.LatLng(53.356725,-1.495522),
            new google.maps.LatLng(53.356703,-1.495373),
            new google.maps.LatLng(53.356676,-1.49523),
            new google.maps.LatLng(53.356628,-1.495105),
            new google.maps.LatLng(53.356573,-1.494941),
            new google.maps.LatLng(53.356539,-1.494772),
            new google.maps.LatLng(53.356531,-1.494634),
            new google.maps.LatLng(53.356519,-1.49448),
            new google.maps.LatLng(53.356517,-1.494338),
            new google.maps.LatLng(53.356476,-1.494183),
            new google.maps.LatLng(53.356415,-1.494042),
            new google.maps.LatLng(53.356415,-1.493866),
            new google.maps.LatLng(53.356404,-1.493713),
            new google.maps.LatLng(53.35639,-1.493561),
            new google.maps.LatLng(53.356371,-1.493421),
            new google.maps.LatLng(53.356361,-1.493243),
            new google.maps.LatLng(53.356326,-1.493083),
            new google.maps.LatLng(53.35631,-1.492947),
            new google.maps.LatLng(53.356309,-1.492778),
            new google.maps.LatLng(53.356294,-1.492619),
            new google.maps.LatLng(53.356279,-1.492417),
            new google.maps.LatLng(53.356265,-1.492245),
            new google.maps.LatLng(53.356247,-1.492086),
            new google.maps.LatLng(53.356238,-1.491901),
            new google.maps.LatLng(53.356204,-1.491722),
            new google.maps.LatLng(53.356179,-1.491561),
            new google.maps.LatLng(53.356184,-1.491407),
            new google.maps.LatLng(53.356129,-1.491263),
            new google.maps.LatLng(53.356096,-1.491136),
            new google.maps.LatLng(53.356048,-1.490975),
            new google.maps.LatLng(53.356089,-1.490827),
            new google.maps.LatLng(53.356181,-1.490724),
            new google.maps.LatLng(53.356271,-1.490637),
            new google.maps.LatLng(53.356359,-1.490543),
            new google.maps.LatLng(53.356437,-1.490479),
            new google.maps.LatLng(53.356539,-1.490391),
            new google.maps.LatLng(53.35662,-1.490322),
            new google.maps.LatLng(53.356735,-1.49027),
            new google.maps.LatLng(53.356834,-1.490205),
            new google.maps.LatLng(53.356902,-1.490125),
            new google.maps.LatLng(53.35698,-1.490033),
            new google.maps.LatLng(53.357053,-1.489912),
            new google.maps.LatLng(53.357115,-1.489819),
            new google.maps.LatLng(53.357201,-1.489708),
            new google.maps.LatLng(53.357293,-1.489646),
            new google.maps.LatLng(53.35739,-1.489584),
            new google.maps.LatLng(53.357486,-1.489489),
            new google.maps.LatLng(53.357556,-1.489414),
            new google.maps.LatLng(53.35762,-1.489328),
            new google.maps.LatLng(53.357722,-1.489242),
            new google.maps.LatLng(53.357805,-1.48919),
            new google.maps.LatLng(53.357878,-1.489121),
            new google.maps.LatLng(53.357984,-1.489063),
            new google.maps.LatLng(53.358055,-1.488993),
            new google.maps.LatLng(53.358124,-1.488913),
            new google.maps.LatLng(53.35821,-1.488838),
            new google.maps.LatLng(53.358288,-1.488756),
            new google.maps.LatLng(53.358363,-1.488694),
            new google.maps.LatLng(53.358445,-1.488626),
            new google.maps.LatLng(53.358516,-1.48853),
            new google.maps.LatLng(53.358582,-1.488445),
            new google.maps.LatLng(53.358678,-1.488369),
            new google.maps.LatLng(53.358894,-1.488201),
            new google.maps.LatLng(53.358988,-1.48813),
            new google.maps.LatLng(53.359067,-1.488007),
            new google.maps.LatLng(53.35909,-1.487848),
            new google.maps.LatLng(53.359041,-1.48771),
            new google.maps.LatLng(53.358971,-1.487602),
            new google.maps.LatLng(53.358915,-1.487495),
            new google.maps.LatLng(53.358865,-1.487388),
            new google.maps.LatLng(53.358819,-1.487234),
            new google.maps.LatLng(53.358796,-1.487102),
            new google.maps.LatLng(53.358746,-1.486961),
            new google.maps.LatLng(53.358705,-1.486808),
            new google.maps.LatLng(53.358671,-1.486667),
            new google.maps.LatLng(53.358647,-1.486536),
            new google.maps.LatLng(53.358603,-1.486375),
            new google.maps.LatLng(53.3586,-1.486237),
            new google.maps.LatLng(53.358546,-1.486115),
            new google.maps.LatLng(53.358501,-1.485998)
        ];
        // draw the route on the map            
        var route = new google.maps.Polyline({
            path: arrCoords,
            strokeColor: "#00FF00",
            strokeOpacity: 1.0,
            strokeWeight: 4,
            geodesic: false,
            map: map
        }); 
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>
<div id='main'>
    <div id='left'>
    	<h5>Sidebar</h5>
    </div>
    <div id='right'>
    	<div id="map_canvas"></div>
    </div>
</div>
	
</body>
{% endblock %}