<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
        <p>
            Please enter your username and password:<br>
            {{ form.username(size=80, placeholder="Username") }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.email(size=80, placeholder="Email") }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.password(size=80, placeholder="Password") }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            {{ form.password(size=80, placeholder="Confirm password") }}

        </p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><span style="color: red;">[{{ message }}]</span><br></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}      
        <p><input type="submit" value="Register"></p>
    </form>
{% endblock %}